<header>Red Giant</header>
<p>
    A red giant is a luminous giant star of low or intermediate mass (roughly 0.3–8 solar masses (M☉)) in a late phase of stellar evolution. The outer atmosphere is inflated and tenuous, making the radius large and the surface temperature around 5,000 K (4,700 °C; 8,500 °F) or lower. The appearance of the red giant is from yellow-orange to red, including the spectral types K and M, but also class S stars and most carbon stars.
</p>
<p>Red giants are evolved from 
  <button type ="button" placement="top" class="btn btn-outline-secondary"
  ngbPopover="Rachit Joshi." popoverTitle="Popover on top"
  triggers="mouseenter:mouseleave">main-sequence
  </button> 
stars with masses in the range from about 0.3 M☉ to around 8 M☉. When a star initially forms from a collapsing 
molecular cloud in the interstellar medium, it contains primarily hydrogen and helium, with trace amounts of 
"metals" (in stellar structure, this simply refers to any element that is not hydrogen or helium 
i.e. atomic number greater than 2). These elements are all uniformly mixed throughout the star. 
The star reaches the main sequence when the core reaches a temperature high enough to begin fusing hydrogen 
(a few million kelvin) and establishes hydrostatic equilibrium. Over its main sequence life, the star slowly
 converts the hydrogen in the core into helium; its main-sequence life ends when nearly all the hydrogen in 
 the core has been fused. For the Sun, the main-sequence lifetime is approximately 10 billion years. 
 More-massive stars burn disproportionately faster and so have a shorter lifetime than less massive stars.</p>